ckpts/
data/
visualizer/
modules/RN50x16.pt
modules/ViT-B-16.pt
modules/ViT-B-32.pt
weights/
./scripts/audiocaps_caption
./scripts/audiocaps_retrieval
./scripts/esc50_classifictaion
./scripts/msrvtt_caption
./scripts/msrvtt_retrieval
./scripts/vatex_caption/finetune_caption_vatex_vt_com.sh
./scripts/vatex_retrieval/finetune_retrieval_vatex_pre_audio_com.sh
./scripts/vatex_retrieval/finetune_retrieval_vatex_pre_video_com.sh
./scripts/vatex_retrieval/finetune_retrieval_vatex_ta_feat_fuse.sh
./scripts/vatex_retrieval/finetune_retrieval_vatex_tav_feat_fuse.sh
./scripts/vatex_retrieval/finetune_retrieval_vatex_tv_feat_fuse.sh
./scripts/feature_extract.sh
./zl_scripts
./CLIP4VLA_priveta/visualizer
./scripts/test.sh
./scripts/feature_vatex.sh
。/scripts/kill.sh

./dataloaders/*youcook*.py
./dataloaders/*clotho*.py
./dataloaders/*activitynet*.py
./dataloaders/*audioset.py
./dataloaders/*esc50*.py